@model IPagedList<UniShop.Web.ViewModels.ParentCategories.ParentCategoryViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Основни категории</h2>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Име
            </th>
            <th>
                Брой подкатегории
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parentCategory in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => parentCategory.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => parentCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => parentCategory.ChildCategoriesCount)
                </td>
                <td class="col-md-2 d-flex justify-content-around">
                    <a asp-controller="ParentCategories" asp-action="Edit" asp-route-id="@parentCategory.Id" class="btn btn-primary" style="background-color:coral">Промени</a>
                    <a asp-controller="ParentCategories" asp-action="Delete" asp-route-id="@parentCategory.Id" class="btn btn-danger">Изтрий</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col-lg-offset-6">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("All", new
              {
                                                    pages = page
                                                }))
</div>
