@model IPagedList<UniShop.Web.ViewModels.Orders.ProcessedOrderViewModel>


@{
    ViewData["Title"] = "Обработени поръчки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Обработени поръчки</h2>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th class="text-center">
               Номер на поръчка
            </th>
            <th class="text-center">
                Дата на поръчка
            </th>
            <th class="text-center">
                Очаквана дата за доставка
            </th>
            <th class="text-center">
                Дата на изпращане 
            </th>
            <th class="text-center">
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var processedOrder in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => processedOrder.Id)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => processedOrder.OrderDate)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => processedOrder.EstimatedDeliveryDate)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => processedOrder.DispatchDate)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => processedOrder.TotalPrice) лв.
                </td>
                <td class="col-md-2 d-flex justify-content-around">
                    <a asp-controller="Orders" asp-action="Details" asp-route-id="@processedOrder.Id" class="btn" style="background-color:coral">Детайли</a>
                    <a asp-area="Administration" asp-controller="Orders" asp-action="Deliver" asp-route-id="@processedOrder.Id" class="btn btn-success">Доставена</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col-lg-offset-6">
@Html.PagedListPager((IPagedList)Model, page => Url.Action("ProcessedOrders", new
       {
                                             pages = page
                                         }))
 </div>