@model IPagedList<UniShop.Web.ViewModels.Products.ProductAllViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Продукти</h2>
    </div>
</div>
<table class="table">
    <thead>
        <tr class="row d-flex justify-content-around">
            <th class="col-1">#</th>
            <th class="col-2"></th>
            <th class="col-2">Име</th>
            <th class="col-2">Категория</th>
            <th class="col-2">Брой</th>
            <th class="col-1">Цена</th>
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr class="row d-flex justify-content-around">
                <td>
                    @Html.DisplayFor(modelItem => product.Id)
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">  <img src="@product.Image" width="50" height="50" /></a>
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">  @Html.DisplayFor(modelItem => product.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.ChildCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Price)лв.
                </td>
                <td class="col-md-2 d-flex justify-content-around">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary" >Детайли</a>
                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary" style="background-color:coral">Промени</a>
                </td>
            </tr>
        }

    </tbody>

</table>
<div class="col-lg-offset-6">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("All", new
              {
                                                    pages = page
                                                }))
</div>