@model IPagedList<UniShop.Web.ViewModels.ChildCategories.ChildCategoryViewModel>


@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Подкатегории</h2>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Име 
            </th>
            <th>
                Основна категория
            </th>
            <th class="col-2 d-flex justify-content-center">
                Брой продукти
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var childCategory in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => childCategory.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => childCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => childCategory.ParentCategoryName)
            </td>
            <td class="col">
                @Html.DisplayFor(modelItem => childCategory.CountOfProducts)
            </td>
            <td class="col-md-2 d-flex justify-content-around">
                <a asp-controller="ChildCategories" asp-action="Edit" asp-route-id="@childCategory.Id" class="btn btn-primary" style="background-color:coral">Промени</a>
                <a asp-controller="ChildCategories" asp-action="Delete" asp-route-id="@childCategory.Id" class="btn btn-danger">Изтрий</a>

            </td>
        </tr>
        }
    </tbody>
</table>
<div class="col-lg-offset-6">
@Html.PagedListPager((IPagedList)Model, page => Url.Action("All", new
          {
                                                pages = page
                                            }))
    </div>