@model UniShop.Web.ViewModels.Products.ProductDetailsViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="product">
    <div class="col-md-6">
        <div id="product-main-view">
            <div class="product-view">
                <img src="@Model.ProductViewModel.Image" alt="">
            </div>

        </div>
    </div>

</div>
<div class="col-md-6">
    <div class="product-body">
        <h2 class="product-name">@Model.ProductViewModel.Name</h2>
        <h3 class="product-price">@Model.ProductViewModel.Price.ToString("F2") </h3>
        <div>
            <div class="product-rating">

                @if (Model.ProductReviews.Sum(r => r.Raiting) != 0 && @Model.ProductReviews.Count() != 0)
                {
                    @for (int i = 0; i < Model.ProductReviews.Average(r => r.Raiting); i++)
                    {
                        <i class="fa fa-star" style="color:darkorange"></i>
                    }
                    @for (int i = 0; i < 5 - Model.ProductReviews.Average(r => r.Raiting); i++)
                    {
                        <i class="fa fa-star-o empty"></i>
                    }
                }
                else
                {
                    <i class="fa fa-star-o empty"></i>
                    <i class="fa fa-star-o empty"></i>
                    <i class="fa fa-star-o empty"></i>
                    <i class="fa fa-star-o empty"></i>
                    <i class="fa fa-star-o empty"></i>
                }
            </div>
            <div>@Model.ReviewCount Review(s)</div>
        </div>
        <p>
            <strong>Availability:</strong>
            @if (Model.ProductViewModel.IsInStock == true)
            {
                <a>In Stock</a>
            }
            else
            {
                <a>Out Of Stock</a>
            }
        </p>
        <h3>Описание:</h3>
        <p>@Model.ProductViewModel.Description </p>

        <div class="product-btns row ">
            <div class="product-btns">
                <div class="col-md-4 col-offset-2"> <a asp-controller="ShoppingCarts" asp-action="Add" asp-route-id="@Model.ProductViewModel.Id"><button class="primary-btn"><i class="fa fa-shopping-cart"></i> Добави в количката</button></a></div>
                <div class="col-md-3"><a asp-controller="FavoriteProducts" asp-action="Add" asp-route-id="@Model.ProductViewModel.Id"><button class="primary-btn"><i class="fa fa-heart"></i>Добави в любими</button></a></div>
                @*<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>*@


            </div>


        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="product-tab">
        <ul class="tab-nav">
            <li class="active"><a data-toggle="tab" href="#tab3">Ревюта (@Model.ReviewCount)</a></li>
            <li><a data-toggle="tab" href="#tab1">Описание</a></li>
            <li><a data-toggle="tab" href="#tab2">Характеристика</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab3" class="tab-pane fade in active">

                <div class="row">
                    <div class="col-md-6">
                        <div class="product-reviews">
                            @foreach (var review in Model.ProductReviews)
                            {
                                <div class="single-review">
                                    <div class="review-heading">
                                        <div><a href="#"><i class="fa fa-user-o"></i>@review.Username </a></div>
                                        <div class="review-rating pull-right">
                                            @for (int i = 0; i < review.Raiting; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            @for (int i = 0; i < 5 - review.Raiting; i++)
                                            {
                                                <i class="fa fa-star-o empty"></i>
                                            }

                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <p>
                                            @review.Comment
                                        </p>
                                    </div>
                                </div>
                            }




                            <ul class="reviews-pages">
                                @Html.PagedListPager((IPagedList)Model.ProductReviews, page => Url.Action("Details", new
                                {
                                                pageNumber = page,

                                }))
                                @*<li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-uppercase">Write Your Review</h4>
                        <form class="review-form" method="post" asp-controller="Reviews" asp-action="Add">
                            <input type="hidden" name="productId" value="@Model.ProductViewModel.Id">
                            <div class="form-group">
                                <textarea class="input" name="comment" placeholder="Your review"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="input-rating">
                                    <strong class="text-uppercase">Your Rating: </strong>
                                    <div class="stars">
                                        <input type="radio" id="star5" name="raiting" value="5" /><label for="star5"></label>
                                        <input type="radio" id="star4" name="raiting" value="4" /><label for="star4"></label>
                                        <input type="radio" id="star3" name="raiting" value="3" /><label for="star3"></label>
                                        <input type="radio" id="star2" name="raiting" value="2" /><label for="star2"></label>
                                        <input type="radio" id="star1" name="raiting" value="1" /><label for="star1"></label>
                                    </div>
                                </div>
                            </div>
                            <button class="primary-btn">Submit</button>
                        </form>
                    </div>
                </div>



            </div>
            <div id="tab1" class="tab-pane ">
                <p>@Model.ProductViewModel.Description</p>
            </div>
            <div id="tab2" class="tab-pane ">
                <p>@Model.ProductViewModel.Specification</p>
            </div>

        </div>
    </div>
</div>


