@model List<UniShop.Web.ViewModels.Home.ProductHomeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- MAIN -->
                <div id="main" class="col-md-12">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="pull-left">
                            <div class="header-search">
                                <form>
                                    <input class="input search-input" type="text" id="products-search-bar" placeholder="Enter your keyword">
                                    <button class="search-btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="sort-filter">
                                <span class="text-uppercase">Sort By:</span>
                                <select class="input">
                                    <option value="0">Position</option>
                                    <option value="0">Price</option>
                                    <option value="0">Rating</option>
                                </select>
                                <a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="page-filter">
                                <span class="text-uppercase">Show:</span>
                                <select class="input">
                                    <option value="0">10</option>
                                    <option value="1">20</option>
                                    <option value="2">30</option>
                                </select>
                            </div>
                            <ul class="store-pages">
                                <li><span class="text-uppercase">Page:</span></li>
                                <li class="active">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /store top filter -->
                    <!-- STORE -->
                    <div id="store">
                        <!-- row -->
                        @for (int i = 0; i < Model.Count; i += 3)
                        {
                            <div class="row">
                                @for (int j = i; j < i + 3; j++)
                                {
                                    if (j < Model.Count)
                                    {
                                        <div class="col-md-4 col-sm-6 col-xs-6">
                                            <div class="product product-single">
                                                <a asp-controller="Products" asp-action="Details" asp-route-id="@Model[j].Id">
                                                    <div class="product-thumb">
                                                        <img class=" product-image" width="250" height="350" src="@Model[j].Image" alt="...">
                                                    </div>
                                                </a>
                                                <div class="product-body">
                                                    <h3 class="product-price">@Model[j].Price.ToString("F2")</h3>
                                                    <div class="product-rating">
                                                        @if (Model[j].Raiting != 0 && Model[j].CountReviews != 0)
                                                        {
                                                            @for (int k = 0; k < Model[j].Raiting / Model[j].CountReviews; k++)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            @for (int k = 0; k < 5 - Model[j].Raiting / Model[j].CountReviews; k++)
                                                            {
                                                                <i class="fa fa-star-o empty"></i>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-star-o empty"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                        }
                                                    </div>
                                                    <h2 class="product-name"><a href="/Products/Details/@Model[j].Id">@Model[j].Name</a></h2>
                                                    <div class="product-btns">
                                                        <a href="/ShoppingCarts/Add/@Model[j].Id"><button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Добави в количката</button></a>
                                                        @*<a asp-controller="ShoppingCarts" asp-action="Add" asp-route-id="@Model[j].Id" class="primary-btn "> <i class="fas fa-shopping-cart"></i>  Добави</a>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="product col-md-2">
                                            <div class="image-holder d-flex justify-content-center">
                                                <a href="/Product/Details/@Model[j].Id">
                                                    <img class="img-thumbnail product-image" src="@Model[j].Picture" alt="...">
                                                </a>
                                            </div>
                                            <h5 class="text-primary text-center mt-3">@Model[j].Name</h5>
                                            <h5 class="text-primary text-center mt-3">Price: $@Model[j].Price.ToString("F2")</h5>
                                        </div>*@
                                    }
                                    else
                                    {
                                        <div class="product col-md-2 empty">
                                        </div>
                                    }
                                }
                            </div>
                        }

                        <!-- /STORE -->
                        <!-- store bottom filter -->
                        <div class="store-filter clearfix">
                            <div class="pull-left">

                                <div class="sort-filter">
                                    <span class="text-uppercase">Sort By:</span>
                                    <select class="input">
                                        <option value="0">Position</option>
                                        <option value="0">Price</option>
                                        <option value="0">Rating</option>
                                    </select>
                                    <a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="page-filter">
                                    <span class="text-uppercase">Show:</span>
                                    <select class="input">
                                        <option value="0">10</option>
                                        <option value="1">20</option>
                                        <option value="2">30</option>
                                    </select>
                                </div>
                                <ul class="store-pages">
                                    <li><span class="text-uppercase">Page:</span></li>
                                    <li class="active">1</li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /store bottom filter -->
                    </div>
                    <!-- /MAIN -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /section -->
        <script>$('#products-search-bar').on("change paste keyup", function () {
            $('.product').show();

            let searchValue = $('#products-search-bar').val();

            for (let elem of $('.product')) {
                let productName = $($(elem).children()[1]).text();

                if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                    $(elem).hide();
                }
            }
        });</script>
