@using X.PagedList.Mvc.Core; 
@using X.PagedList;
@model UniShop.Web.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- MAIN -->
            <div id="main" class="col-md-12">
                <!-- store top filter -->
                <div class="store-filter clearfix">                  
                    <div class="pull-left">
                        <div class="header-search">
                            <form method="post" asp-controller="Home" asp-action="Index">
                                <input class="input search-input" type="text" name="SearchString" id="SearchString" placeholder="Enter your keyword">
                                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>                  
                    <div class="pull-right">
                        <form method="post" asp-controller="Home" asp-action="Index">
                            <input type="hidden" name="SearchString" value="@Model.SearchString">
                            <input type="hidden" name="PageNumber" value="@Model.PageNumber">
                            <input type="hidden" name="ChildCategoryId" value="@Model.ChildCategoryId">
                            <div class="sort-filter">
                                <span class="text-uppercase">Sort By:</span>
                                <select name="Sort" id="Sort" onchange="this.form.submit();">
                                    <option value="1" selected="@(Model.Sort.ToString() == "PriceAscending" ? true : false)">Цена(възх.)</option>
                                    <option value="2" selected="@(Model.Sort.ToString() == "PriceDescending" ? true : false)">Цена(низх.)</option>
                                </select>
                            </div>
                            <div class="page-filter">
                                <span class="text-uppercase">Show:</span>
                                <select name="PageSize" id="PageSize" onchange="this.form.submit();">
                                    <option value="9" selected="@(@Model.PageSize == 9 ? true : false)">9</option>
                                    <option value="18" selected="@(Model.PageSize == 18 ? true : false)">18</option>
                                    <option value="27" selected="@(Model.PageSize == 27 ? true : false)">27</option>
                                </select>
                            </div>
                        </form>
                    </div>
                  
                </div>
                
                <!-- /store top filter -->
                <!-- STORE -->
                <div id="store">
                    <!-- row -->
                    <div class="row">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="product product-single">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                        <div class="product-thumb">
                                            <img class=" product-image" width="250" height="350" src="@product.Image" alt="...">
                                        </div>
                                    </a>
                                    <div class="product-body">
                                        <h3 class="product-price">@product.Price.ToString("F2")</h3>
                                        <div class="product-rating">
                                            @*@if (product.Raiting != 0 && product.CountReviews != 0)
                                    {
                                        @for (int k = 0; k < product.Raiting / product.CountReviews; k++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        @for (int k = 0; k < 5 - product.Raiting / product.CountReviews; k++)
                                        {
                                            <i class="fa fa-star-o empty"></i>
                                        }
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                    }*@
                                        </div>
                                        <h2 class="product-name"><a href="/Products/Details/@product.Id">@product.Name</a></h2>
                                        <div class="product-btns">
                                            <a href="/ShoppingCarts/Add/@product.Id"><button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Добави в количката</button></a>

                                            @*<a asp-controller="ShoppingCarts" asp-action="Add" asp-route-id="@Model[j].Id" class="primary-btn "> <i class="fas fa-shopping-cart"></i>  Добави</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }







                        <!-- /container -->
                        <!-- /store bottom filter -->
                    </div>
                    <!-- /MAIN -->
                </div>
                @Html.PagedListPager((IPagedList)Model.Products, page => Url.Action("Index", new {
                                                pageNumber = page,
                                                PageSize = Model.PageSize,
                                                ChildCategoryId = Model.ChildCategoryId,
                                                SortBy = Model.Sort,
                                                SearchString = Model.SearchString
                                            }))
                <!-- /row -->
            </div>
           
        </div>
    <!-- /section -->
    @*<script>
        $('#products-search-bar').on("change paste keyup", function () {
            $('.product').show();

            let searchValue = $('#products-search-bar').val();

            for (let elem of $('.product')) {
                let productName = $($(elem).children()[1]).text();

                if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                    $(elem).hide();
                }
            }
        });</script>*@
